body{
    display: grid;
    background-size: cover;
    height: 100%;
    grid-template-areas:
        'header header header header'
        'main main main right'
        'footer footer footer footer';
    gap: 10px;
    padding: 10px;
    background-color: black;
    background-image: url("wp2815605-black-texture-wallpapers.jpg");
    background-size: cover;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 50px;
    background-image: url("desktop-wallpaper-green-gold-malachite-texture-green-gold.jpg");
    font-size: 17px;
    color: white;
}

aside{
    grid-area: right;
    background-image: url(desktop-wallpaper-white-ivory-paper-texture-backgrounds-white-phone.jpg);
    text-shadow: 2px 2px 5px #000000;
    border-radius: 10px;
}

nav ul li:hover {
    transform: scale(1.10);
}

nav ul li {
    color: whitesmoke;
    text-decoration: underline;
}

h4{
    margin-left: 15px;
}

nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: 50px 85px 150px;
}

.searchGame__txt{
    display: inline-block;
    padding: 0.1em 1em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

.searchGame__submit{
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0 0.25em 1em 0.5em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 4px #000000;
}

.searchGame__submit:active {
    top: 0.1em;
}

.searchGame__button{
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0 0.25em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 4px #000000;
}

.searchGame__button:active {
    top: 0.1em;
}

header{
    grid-area: header;
    height: 100px;
    padding: 10px 0px;
    text-align: center;
}

h2{
    background-image: url(desktop-wallpaper-white-ivory-paper-texture-backgrounds-white-phone.jpg);
        background-repeat: cover;
        background-size: clip;
        color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Steelfish Rg', 'helvetica neue',
            helvetica, arial, sans-serif;
        padding: 10px 0px 0px;
}

main{
    display: grid;
    grid-auto-rows: 206px; 
    grid-template-columns: 365px 365px 365px;
    height: 100%;
    gap: 15px;
}

article{
   border-radius: 10px;
   background-size: cover;
   min-height: 100%;
   min-width: 100%;
   background-repeat: no-repeat;
   transition: 0.07s;
}

article:hover{
    border-radius: 50px;
    transform: scale(1.10);
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

