@media screen and (max-width: 480px){
    main {
        grid-template-columns: 330px;
    }
    aside {
        grid-row: 2;
    } 
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    main{
        grid-template-columns: 365px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    main{
        grid-template-columns: 365px 365px;
    }
    aside {
        max-height: 500px;
    }
}

@media screen and (min-width: 1025px) {
    main{
        grid-template-columns: 365px 365px 365px;
    }
}

body {
    display: grid;
    height: 100%;
    grid-template-areas:
        'header header header header'
        'main main main right'
        'footer footer footer footer';
    gap: 10px;
    padding: 10px;
    background-image: url("wp2815605-black-texture-wallpapers.jpg");
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 50px;
    background-image: url("desktop-wallpaper-green-gold-malachite-texture-green-gold.jpg");
    font-size: 17px;
    color: white;
}

aside {
    background-image: url(desktop-wallpaper-white-ivory-paper-texture-backgrounds-white-phone.jpg);
    text-shadow: 2px 2px 5px #000000;
    border-radius: 10px;
}

nav ul li:hover {
    transform: scale(1.10);
}

nav ul li {
    color: whitesmoke;
    text-decoration: underline;
}

h4 {
    margin-left: 15px;
}

nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: 50px 150px;
}

.searchGame__txt, .searchGame__submit {
    padding: 0.1em 1em;
    border-radius: 0.15em;
    font-family: 'Roboto', sans-serif;
}

.searchGame__txt {
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    /* position: relative; */
}

.searchGame__submit {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-shadow: 2px 2px 4px #000000;
}

.searchGame__submit:active{
    top: 0.1em;
    background-color: blue;
}

header {
    grid-area: header;
    height: 100px;
    padding: 10px 0px;
    text-align: center;
}

h1, h2 {
    background-image: url(white-paper-wrinkled-texture-background-white-paper-wrinkled-texture-background-white-crumpled-paper-texture-background-137375365.jpg);
}

h1 {
    text-align: center;
}

h2 {
    background-repeat: cover;
    background-size: clip;
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    padding: 10px 0px 0px;
}

main {
    display: grid;
    grid-auto-rows: 206px; 
    height: 100%;
    gap: 15px;
}

article {
   border-radius: 10px;
   background-size: cover;
   background-repeat: no-repeat;
   transition: 0.07s;
}

article:hover {
    border-radius: 50px;
    transform: scale(1.10);
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
